h1, p, input, label , .double {
	display: block;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
input[type="text"] {
	border: solid #999999 1px;
}
.double div {
	display: inline-block;
}
.double div p {
	margin: 1em 1em;
}
#get-results {
	margin-top: 1em;
}
#results {
	display: none;
}